.wasd {
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 50px;
    width: 180px;
}

.background {
    background-image: url('redplanet.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bulletImage {
    width: 100%;
    height: auto;
}

#points {
    position: absolute;
    top: 15px;
    left: 50vw;
    color: white;
    font-size: 35px;
    z-index: 1000;
}